/* ==========================================================================
   #PANE
   ========================================================================== */

  $toc-width: 300px;
  $toc-width-tablet: 210px;





.app-link {

  &:link,
  &:visited {
    color: govuk-colour("purple");
  }

  &:hover {
    color: govuk-colour("light-purple");
  }

}


  .app-pane.app-pane--enabled {
    $pane-height: 100vh;
    overflow: hidden;

    @include govuk-media-query($from: tablet) {
      display: flex;
      flex-direction: column;
    }

    @include govuk-media-query($from: tablet, $and: '(orientation: portrait)') {
      height: $pane-height;
    }

    @include govuk-media-query($from: desktop) {
      height: $pane-height;
    }

  }


  .app-pane__header {

    @include govuk-media-query($from: tablet) {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      > * {
        flex: 1 0 auto;
      }

    }

  }


  .app-pane__body {

    @include govuk-media-query($from: tablet) {
      display: flex;
      position: relative;
      min-height: 0;
      flex: 1 1 100%;

      > * {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
      }

    }

  }


  .app-pane__subnav {
    border-right: 1px solid $govuk-border-colour;

    @include govuk-media-query($from: tablet) {
      width: $toc-width-tablet;
      border-right: 1px solid $govuk-border-colour;
      flex: 0 0 auto;
    }

    @include govuk-media-query($from: desktop) {
      width: $toc-width;
    }

  }


  .app-pane__content {
    @include govuk-media-query($from: tablet) {
      display: flex;
      margin-left: auto;
      flex: 1 1 auto;
      flex-direction: column;

      // Stick footer to bottom of screen if content is shorter than viewport
      .app-content {
        display: block;
        flex: 1 0 auto;
      }

    }

  }



.app-content {
  @include govuk-responsive-padding(6);
}




// App example start -----------------------

.app-example {
  background-color: govuk-colour("white");
  border: 1px solid $govuk-border-colour;
  position: relative;
}


.app-example__frame {
  background-color: govuk-colour("white");
  border: 0;
  display: block;
  width: 100%;
}

.app-example-page {
  margin-bottom: -1px;
  padding: 30px;
  padding-top: 60px;
  position: relative;
}

.app-example__new-window {
  @include govuk-font($size: 14);
  border: 1px solid $govuk-border-colour;
  position: absolute; top: -1px; right: -1px;

  a {
    background-color: white;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: govuk-colour("purple");
  }

  a:hover {
    color: govuk-colour("light-purple");
  }

}

// App Example end -------------------------







[class*="govuk-grid-column"] {
  @include govuk-media-query($until: desktop) {
    padding: 0 $govuk-gutter-half;
  }
}


.govuk-grid-column-one-third,
.govuk-grid-column-two-thirds,
.govuk-grid-column-one-quarter {
  @include govuk-media-query($until: desktop) {
    width: 100%;
  }
}


.app-width-container {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 100%;
  padding: 0;

  @include govuk-media-query($from: tablet) {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 govuk-spacing(6);
  }

  @include govuk-media-query($from: desktop) {
    margin: 0 auto;
    padding: 0 govuk-spacing(6);
  }

}



pre {
  position: relative;
  margin: 0;
  padding: govuk-spacing(3);
  overflow: auto;
  //border: 1px solid $govuk-border-colour;
  //background-color: $app-light-grey;
  font-size: 16px;
  max-width: 38em;
  @include govuk-responsive-margin(4, "bottom");
}



.app-prose-scope {

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong, b {
    @include govuk-typography-weight-bold;
  }

  ul, ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}
