<div class="app-contact-panel">
  <h2 class="app-contact-panel__heading">Get in touch</h2>
  <p class="app-contact-panel__body">If you’ve got a question, idea or suggestion share it in <a class="app-contact-panel__link" href="#">#govuk-design-system</a> on cross-government Slack (<a class="app-contact-panel__link" href="#">open in app</a>) or email the Design System team on <a class="app-contact-panel__link" href="#">govuk-design-system-support@digital.cabinet-office.gov.uk</a></p>
</div>