$govuk-global-styles: true;


// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

@import "node_modules/@hmcts/frontend/all";

// Import HMCTS Components
@import "../../components/all";


html {
  background-color: govuk-colour("grey-3");
}

body {
  background-color: govuk-colour("white");
  margin: 0;
}


// Recreate prose scope for use with markdown
.govuk-prose-scope {

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

}
