{% extends "layouts/guidance.html" %}

{% set sectionId = "content" %}
{% set pageId = "hmcts-a-z" %}
{% set pageTitle = "HMCTS A-Z" %}

{% block subNav %}
  {% include "content-subnav.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><span class="govuk-caption-xl">Content</span> {{pageTitle}}</h1>

  

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>

  {{dsContactPanel()}}

{% endblock %}
