<header class="hmcts-header {{- ' ' + params.classes if params.classes}}" role="banner">
  <div class="hmcts-header__container{% if params.containerClasses %} {{ params.containerClasses }}{% endif %}">
    <div class="govuk-header__logo">
      <a href="{{ params.headerBranded.url | default('/') }}" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">    
          <span class="govuk-header__logotype-text">
            {{ params.headerBranded.name }}
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="{{ params.service.url | default('/') }}">{{ params.service.name }}</a>
    {% if params.navigation %}
      <div class="hmcts-header__content">
        <nav class="hmcts-header__navigation{% if params.navigation.classes %} {{ params.navigation.classes }}{% endif %}"{% if (params.navigation.label) %} aria-label="{{ params.navigation.label }}" {% endif %}>
          <ul class="hmcts-header__navigation-list">
            {% for item in params.navigation.items %}
              <li class="hmcts-header__navigation-item">
                <a class="hmcts-header__navigation-link" href="{{ item.href }}" {{ 'aria-current="page"' | safe if item.active }}>
                  {{ item.html | safe if item.html else item.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    {% endif %}
  </div>
</header>