

{% set nunjucksCode %}
{% code %}js
{{ getNunjucksCode('./app/views/components/timeline/examples/includes/default.html') | safe}}
{% endcode %}
{% endset %}

{% set htmlCode %}
{% code %}html
{{ getHtmlCode('./app/views/components/timeline/examples/includes/default.html') | safe}}
{% endcode %}
{% endset %}

<div class="app-example">

  <span class="app-example__new-window">
    <a href="/components/timeline/examples/default" target="_blank">Open this example in a new window</a>
  </span>

  <iframe class="app-example__frame" scrolling="auto" frameborder="0" height="350" src="/components/timeline/examples/default"></iframe>

</div>

<div class="app-tabs">

  <ul class="app-tabs__list">
    <li class="app-tabs__list-item"><a class="app-tabs__tab" href="#html">HTML</a></li>
    <li class="app-tabs__list-item"><a class="app-tabs__tab" href="#nunjucks">Nunjucks</a></li>
  </ul>

  <div class="app-tabs__panel app-js-hidden" id="html">
    {{htmlCode | safe}}
    <button class="app-tabs__close" type="button">Close</button>
  </div>

  <div class="app-tabs__panel app-js-hidden" id="nunjucks">
    {{nunjucksCode | safe}}
    <button class="app-tabs__close" type="button">Close</button>
  </div>

</div>