{{dsSubnav({
  items: [
    {
      title: 'Timeline',
      link: '/components/timeline',
      selected: pageId == 'timeline'
    },
    {
      title: 'Progress bar',
      link: '/components/progress-bar',
      selected: pageId == 'progress-bar'
    },
    {
      title: 'Address lookup',
      link: '/components/address-lookup',
      selected: pageId == 'address-lookup'
    },
    {
      title: 'Collapsibles',
      link: '/components/collapsibles',
      selected: pageId == 'collapsibles'
    },
    {
      title: 'Document upload',
      link: '/components/document-upload',
      selected: pageId == 'document-upload'
    }
  ]
}) }}
