{{dsSubnav({
  items: [
    {
      title: 'Add another',
      link: '/components/add-another',
      selected: pageId == 'add-another'
    },
    {
      title: 'Badge',
      link: '/components/badge',
      selected: pageId == 'badge'
    },
    {
      title: 'Banner',
      link: '/components/banner',
      selected: pageId == 'banner'
    },
    {
      title: 'Currency input',
      link: '/components/currency-input',
      selected: pageId == 'currency-input'
    },
    {
      title: 'Footer',
      link: '/components/footer',
      selected: pageId == 'footer'
    },
    {
      title: 'Filter',
      link: '/components/filter',
      selected: pageId == 'filter'
    },
    {
      title: 'Form validator',
      link: '/components/form-validator',
      selected: pageId == 'form-validator'
    },
    {
      title: 'Header',
      link: '/components/header',
      selected: pageId == 'header'
    },
    {
      title: 'Identity bar',
      link: '/components/identity-bar',
      selected: pageId == 'identity-bar'
    },
    {
      title: 'Menu',
      link: '/components/menu',
      selected: pageId == 'menu'
    },
    {
      title: 'Page Header With Actions',
      link: '/components/page-header-with-actions',
      selected: pageId == 'page-header-with-actions'
    },
    {
      title: 'Pagination',
      link: '/components/pagination',
      selected: pageId == 'pagination'
    },
    {
      title: 'Progress bar',
      link: '/components/progress-bar',
      selected: pageId == 'progress-bar'
    },
    {
      title: 'Primary navigation',
      link: '/components/primary-navigation',
      selected: pageId == 'primary-navigation'
    },
    {
      title: 'Rich text editor',
      link: '/components/rich-text-editor',
      selected: pageId == 'rich-text-editor'
    },
    {
      title: 'Search',
      link: '/components/search',
      selected: pageId == 'search'
    },
    {
      title: 'Sortable table',
      link: '/components/sortable-table',
      selected: pageId == 'sortable-table'
    },
    {
      title: 'Sub navigation',
      link: '/components/sub-navigation',
      selected: pageId == 'sub-navigation'
    },
    {
      title: 'Timeline',
      link: '/components/timeline',
      selected: pageId == 'timeline'
    }
  ]
}) }}
