{{dsSubnav({
  items: [
    {
      title: 'Add another',
      link: '/components/add-another',
      selected: pageId == 'add-another'
    },
    {
      title: 'Banner',
      link: '/components/banner',
      selected: pageId == 'banner'
    },
    {
      title: 'Footer',
      link: '/components/footer',
      selected: pageId == 'footer'
    },
    {
      title: 'Filter',
      link: '/components/filter',
      selected: pageId == 'filter'
    },
    {
      title: 'Header',
      link: '/components/header',
      selected: pageId == 'header'
    },
    {
      title: 'Identity bar',
      link: '/components/identity-bar',
      selected: pageId == 'identity-bar'
    },
    {
      title: 'Menu',
      link: '/components/menu',
      selected: pageId == 'menu'
    },
    {
      title: 'Page Header With Actions',
      link: '/components/page-header-with-actions',
      selected: pageId == 'page-header-with-actions'
    },
    {
      title: 'Pagination',
      link: '/components/pagination',
      selected: pageId == 'pagination'
    },
    {
      title: 'Progress bar',
      link: '/components/progress-bar',
      selected: pageId == 'progress-bar'
    },
    {
      title: 'Primary navigation',
      link: '/components/primary-navigation',
      selected: pageId == 'primary-navigation'
    },
    {
      title: 'Search',
      link: '/components/search',
      selected: pageId == 'search'
    },
    {
      title: 'Sub navigation',
      link: '/components/sub-navigation',
      selected: pageId == 'sub-navigation'
    },
    {
      title: 'Timeline',
      link: '/components/timeline',
      selected: pageId == 'timeline'
    }
  ]
}) }}
