{{dsSubnav({
  sections: [{
    
    heading: {
      text: 'Consider your audience'
    },
    items: [{
      title: 'Know your audience',
      link: '/content/know-your-audience',
      selected: pageId == 'know-your-audience'
    },
    {
      title: 'Write for your audience',
      link: '/content/write-for-your-audience',
      selected: pageId == 'write-for-your-audience'
    },
    {
      title: 'Human voice of justice',
      link: '/content/human-voice-of-justice',
      selected: pageId == 'human-voice-of-justice'
    }
    ]
  }, 
  {
  heading: {
      text: 'HMCTS style'
    },
    items: [{
      title: 'HMCTS A-Z',
      link: '/content/hmcts-a-z',
      selected: pageId == 'hmcts-a-z'
    },
    {
      title: 'Controlled vocabulary',
      link: '/content/controlled-vocab',
      selected: pageId == 'controlled-vocab'
    },
    {
      title: 'Key points of style',
      link: '/content/points-of-style',
      selected: pageId == 'points-of-style'
    },
    {
      title: 'Styleguide process ',
      link: '/content/style-process',
      selected: pageId == 'style-process'
    }]
  ]
}) }}