{{dsSubnav({
  sections: [{

    heading: {
      text: 'How we work'
    },
    items: [{
      title: 'Our approach',
      link: '/get-started/our-approach',
      selected: pageId == 'our-approach'
    },
    {
      title: 'Prototyping',
      link: '/get-started/prototyping',
      selected: pageId == 'prototyping'
    }
    ]
  }, {
  heading: {
    text: 'Common user needs'
  },
  items: [{
    title: 'Common needs of citizens',
    link: '/get-started/needs-of-citizens',
    selected: pageId == 'needs-of-citizens'
  },
  {
    title: 'Common needs of the Judiciary',
    link: '/get-started/needs-of-judiciary',
    selected: pageId == 'needs-of-judiciary'
  }
  ]
}, {
    heading: {
      text: 'Contributing to the design system'
    },
    items: [{
      title: 'Backlog',
      link: '/get-started/backlog',
      selected: pageId == 'backlog'
    }, {
      title: 'Propose a component or pattern',
      link: '/get-started/propose-a-component-or-pattern',
      selected: pageId == 'propose-a-component-or-pattern'
    }, {
      title: 'Contribution criteria',
      link: '/get-started/contribution-criteria',
      selected: pageId == 'contribution-criteria'
    }]
  }
  ]
}) }}
