{{dsSubnav({
  sections: [{
    heading: {
      text: 'Ask users for...'
    },
    items: [{
      title: 'Names',
      link: '/patterns/names',
      selected: pageId == 'names'
    }]
  }, {
    heading: {
      text: 'Help users to...'
    },
    items: [{
      title: 'Get support online',
      link: '/patterns/get-support-online',
      selected: pageId == 'get-support-online'
    },{
      title: 'Filter a list',
      link: '/patterns/filter-a-list',
      selected: pageId == 'filter-a-list'
    }]
  }, {
    heading: {
      text: 'Pages'
    },
    items: [{
      title: 'Cookie policy',
      link: '/patterns/cookie-policy',
      selected: pageId == 'cookie-policy'
    },
    {
      title: 'Privacy policy',
      link: '/patterns/privacy-policy',
      selected: pageId == 'privacy-policy'
    },
    {
      title: 'Terms and conditions',
      link: '/patterns/terms-and-conditions',
      selected: pageId == 'terms-and-conditions'
    }]
  }]
}) }}
