{{dsSubnav({
  sections: [{
    heading: {
      text: 'Ask users for...'
    },
    items: [{
      title: 'Names',
      link: '/patterns/names',
      selected: pageId == 'names'
    },
    {
      title: 'Addresses',
      link: '/patterns/addresses',
      selected: pageId == 'addresses'
    },
    {
      title: 'Dates',
      link: '/patterns/dates',
      selected: pageId == 'dates'
    }]
  }, {
    heading: {
      text: 'Help users to...'
    },
    items: [{
      title: 'Upload documents',
      link: '/patterns/thing',
      selected: pageId == 'thing'
    }]
  }, {
    heading: {
      text: 'Pages'
    },
    items: [{
      title: 'Cookie policy',
      link: '/patterns/cookie-policy',
      selected: pageId == 'cookie-policy'
    },
    {
      title: 'Privacy policy',
      link: '/patterns/privacy-policy',
      selected: pageId == 'privacy-policy'
    },
    {
      title: 'Terms and conditions',
      link: '/patterns/terms-and-conditions',
      selected: pageId == 'terms-and-conditions'
    }]
  }]
}) }}
