{%- from "timeline/macro.njk" import hmctsTimeline -%}
{%- from "example/macro.njk" import dsExample -%}
{%- from "contact-panel/macro.njk" import dsContactPanel -%}
{%- from "nav/macro.njk" import dsNav -%}
{%- from "subnav/macro.njk" import dsSubnav -%}
{%- from "tag/macro.njk" import govukTag -%}

<!DOCTYPE html>
<html class="app-template" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}} - HMCTS Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c">

  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

  <meta name="description" content="">
  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet"><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" rel="stylesheet"><!--<![endif]-->

</head>
<body class="app-template__body">

  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  {% block body %}{% endblock %}

  {% include "svg.html" %}

  {% block bodyEnd %}
    {% block scripts %}
      {% include "scripts.html" %}
      {% block pageScripts %}{% endblock %}
    {% endblock %}
  {% endblock %}

</body>
</html>
