.app-subnav {
  @include govuk-font(16);
  padding: govuk-spacing(3);
  margin-top: 20px;
}

.app-subnav__section {
  margin: 0 0 govuk-spacing(4);
  padding: 0;
  list-style-type: none;

  a,
  a:link,
  a:visited {
    display: block;
    padding: 10px govuk-spacing(6) 10px govuk-spacing(2);
    border-left: 4px solid transparent;
    color: govuk-colour("black");
    background-color: inherit;
    text-decoration: none;
  }

  a:hover {
    border-left-color: govuk-colour("grey-3");
  }

}

.app-subnav__section-item--current {
  a,
  a:link,
  a:visited {
    background-color: govuk-colour("grey-4");
    border-left-color: govuk-colour("black");
    font-weight: bold;
  }
}
