/* ==========================================================================
   #SUBNAV
   ========================================================================== */

.app-subnav {
  @include govuk-font(16);
  margin-top: govuk-spacing(3);
  padding: govuk-spacing(3);
}


.app-subnav__list {
  list-style-type: none;
  margin: 0 0 govuk-spacing(4);
  padding: 0;
}


.app-subnav__list-item {

  a,
  a:link,
  a:visited {
    background-color: inherit;
    border-left: 4px solid transparent;
    color: govuk-colour("purple");
    display: block;
    padding: govuk-spacing(2);
    text-decoration: none;
  }

  a:hover {
    border-left-color: govuk-colour("light-purple");
  }

}


.app-subnav__list-item--selected {

  a,
  a:link,
  a:visited {
    background-color: govuk-colour("grey-4");
    border-left-color: govuk-colour("purple");
    font-weight: bold;
  }

}
